@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.open-sans-font {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

/* shared style */
.display-flex {
    display: flex;
}

.align-item {
    align-items: center;
}

.dark-1 {
    color: #131313;
}

.dark-2 {
    color: #424242;
}

.dark-3 {
    color: #727272;
}

.dark-4 {
    color: #A1A1A1;
}

.dark-5 {
    color: #D0D0D0;
}

.bg-light {
    background: rgba(255, 144, 14, 0.1);
}

.section-title {
    font-weight: 700px;
    font-size: 2.8rem;
}

.btn-primary {
    border-radius: 8px;
    background: rgb(255, 144, 14);
    padding: 20px 25px;
    color: white;
    font-size: 1.25rem;
    border: none;
}
.btn-primary:hover{
    background-color: blueviolet;
}

section {
    max-width: 1440px;
    margin: 0 auto;
}









/* header style */

/* navbar related styles */
.brand-name {
    width: 60%;
    font-weight: 700;
    font-size: 2.5rem;

}

.nav-item {
    list-style: none;
}

.nav-links {
    width: 40%;
    justify-content: space-around;
}

.nav-link {
    text-decoration: none;
    color: #424242;
}

.navbar,
.banner {
    max-width: 1440px;
    margin: 0 auto;
    padding: 8px;
}
nav li:hover{
    background-color: #eeecec;
    padding: 5px 15px;
    border-radius: 5px;

}

/* banner styles */
.banner-content {
    max-width: 860px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.banner-title {
    font-weight: 700px;
    font-size: 4rem;
}

.banner-des {
    font-weight: 400px;
    font-size: 1rem;
}

.banner-img {
    width: 100%;
}

.teams {
    margin-top: 70px;
}

.team-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.our-features {
    margin-left: 130px;
    max-width: 530px;
}

#quick-list {
    font-weight: 500px;
}

#features {
    color: #FF900E;
}


/* features releted style */
.left-margin {
    border-left: 5px solid rgb(255, 144, 14);
    padding-left: 25px;
}

.feature-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 146px;

}

.fbox-des,
.feature-intro {
    font-weight: 400;
    font-size: 1rem;
}

.feature-box {
    border-radius: 8px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.171);
    background: rgb(255, 255, 255);
    padding: 32px;
    margin-bottom: 20px;

}

.fbox-title {
    margin: 0px;
    font-size: 1.25rem;
    font-weight: 600;
}

.apu {
    width: 100%;
}

.experience-badge {
    padding: 45px 42px;
    font-size: 1.5rem;
    font-weight: 500;
    margin-left: -92px;
    margin-top: -120px;
}

#experience-year {
    font-size: 4rem;
    font-weight: 700;
}



/* some facts style */
.fact-des {
    max-width: 540px;
    margin-bottom: 100px;
}

.facts-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.fact {
    border: 1px solid #FF900E;
    height: 240px;
    width: 240px;
    border-radius: 9px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.fact-number {
    font-weight: 600;
    font-size: 2.8rem;
    margin-top: 10px;
    margin-bottom: 5px;
}

.fact-name {
    margin-top: 0px;
    font-size: 1.25rem;
    font-weight: 600;
}


/* sponsor style */
.sponsors-info {
    max-width: 540px;
    margin: 0 auto;
    text-align: center;
}

.sponsor-des {
    font-weight: 400;
    font-size: 1rem;
    margin: 25px 0 50px 0;
}

.sponsor-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.sponsor-img {
    filter: grayscale(100%);
}



/* footer sstyle */
.footer{
border-radius: 8px;
background: rgb(255, 244, 231);
padding: 29px 410px;
margin-top: 130px;
font-size: 1.25rem;
font-weight: 400;
text-align: center;
}



/* responsive media query */
@media screen and (max-width:576px) {

    .navbar,
    .nav-links,
    .teams {
        flex-direction: column;
    }

    .team-img-container,
    .facts-container,
    .sponsor-container,
    .feature-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .facts-container {
        justify-items: center;
        gap: 25px;
    }

    .sponsor-container {
        justify-items: center;
        gap: 50px;
    }

    .our-features {
        margin: 20px;
    }

    .experience-badge {
        margin-left: 0px;
        margin-top: -20px;
        width: 400px;
    }

    .feature-img {
        display: flex;
        flex-direction: column;

        align-items: center;
    }
    .footer{
        padding: 29px 20px;
    }
}

/* medium size media query */
@media screen and (min-width:576px) and (max-width:992px) {
    .teams {
        flex-direction: column;
    }

    .our-features {
        margin: 50px auto;
    }

    .facts-container,
    .sponsor-container {
        grid-template-columns: repeat(2, 1fr);

    }

    .facts-container {
        justify-items: center;
        gap: 25px;
    }

    .sponsor-container {
        justify-items: center;
        gap: 50px;
    }

    #last-sponsor-img {
        grid-column: span 2;


    }

    .feature-container {
        grid-template-columns: repeat(1, 1fr);
        padding-inline-start: 5px;
    }
        .experience-badge {
        margin-left: 0px;
        margin-top: -20px;
        width: 100%;
    }

    .feature-img {
        display: flex;
        flex-direction: column;

        align-items: center;
    }
        .footer{
        padding: 29px 20px;
    }
}